*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


:root{
    --main-white: #e6e7e9;
    --dark-green: #02824f;
    --light-green: #99cc99;
    --red: #37553c;
}


body{
    background-color: var(--main-white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*====NAVIGATION==== */
#current{
  border-style: solid;
  border-width: 2px;
  padding: 1vh;
  border-radius: 10px;
}
.main_nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.navbar{
    display: flex;
    z-index: 100000;
    background: transparent;
    position: fixed;
    width: 100%;
    padding: 2% 8%;
    justify-content: space-between;
    align-items: center;
    transition: 0.8s ease;
}

.navbar img{
    max-width: 80px;
}



.navbar.sticky{
    background: whitesmoke;
    padding: 10px 20px;
}

 
.links{
    margin: 0 auto;
}

.links ul{
    display: flex;
}


.links ul li{
    list-style: none;
    padding: 10px 20px;
}

.links ul li a{
    color: var(--light-green);
    text-decoration: none;
    transition: .3s linear;
}

.links ul li::after{
  content: "";
  display: block;
  margin: auto;
  width: 0%;
  height: 2px;
  background: var(--light-green);
  transition: 0.4s ease-in-out;
}

.links ul li:hover::after{
  width: 100%;
}

.links ul li a:hover::after{
  width: 100%;
}

.hright{
    margin: 10px 20px;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

button{
	appearance: none;
	border: none;
  color: white;
	outline: none;
  max-height: 30px;
  max-width: 200px;
  border-radius: 5px;
	background: none;
	cursor: pointer;
  font-size: 1.2rem;
	font-weight: 600;
	text-transform: uppercase;
	background-color:var(--light-green);
}
button {
	background-image: linear-gradient(to right, var(--light-green) 50%, rgb(255, 255, 255) 50%);
	background-size: 200%;

	transition: 0.4s ease-out;
}

button:hover {
	background-position: right;
  color: var(--light-green);
}

button {
	position: relative;
	overflow: hidden;
}

button span{
    padding: 0 24px;
}


.ordersection {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--dark-green);
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  max-width: 800px;
  box-sizing: border-box;
}
.titletop {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.input-field {
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  box-sizing: border-box;
}

.submit-button {
  border: none;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 720px) {
  .container {
      width: 100%;
  }
}

